.wrapper {
    font-family: "Segoe UI", sans-serif;
    background-color: #ffffff;
    width: 1140px;
    margin: 0 auto;
    padding: 20px;

}

.header {
    overflow: hidden;
    padding: 10px 20px;
    margin-bottom: 20px;

}


.logo {
    float: left;


}

.logo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;

}

.menu {
    float: right;
}


.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.menu li {
    margin: 0;
}

.menu li a {
    display: inline-block;
    padding: 10px 15px;
    background: rgb(255, 117, 64);
}


.columns {
    column-count: 3;
    column-gap: 35px;
    column-rule: 5px dotted red;
    text-align: justify;
}

.columns img {
    width: 200px;
    padding: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
