div {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
}

table {
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    width: 80%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

thead {
    color: white;
}

tr:nth-child(1) {
    text-color: white;
}

tr:nth-child(n+2) {
    color: rgb(108, 30, 32);
}

th, td {
    border: 1px solid #fff;
    padding: 15px;
    font-weight: bold;
}


tr:first-child th:nth-child(1) {
    background-color: rgb(247, 218, 218);

}

tr:first-child th:nth-child(2) {
    background-color: rgb(237, 182, 182);

}

tr:first-child th:nth-child(3) {
    background-color: rgb(229, 145, 146);

}

tr:first-child th:nth-child(4) {
    background-color: rgb(161, 45, 48);

}

tr:first-child th:nth-child(5) {
    background-color: rgb(108, 30, 32);

}


tr:nth-child(n+2) td:first-child {
    background-color: rgb(207, 70, 72);

}


tr:nth-child(2) td:nth-child(n+2),
tr:nth-child(4) td:nth-child(n+2),
tr:nth-child(6) td:nth-child(n+2) {
    background-color: rgb(237, 182, 182);

}


tr:nth-child(3) td:nth-child(n+2),
tr:nth-child(5) td:nth-child(n+2) {
    background-color: rgb(247, 218, 218);

}