a {
    color: purple;
}
a.main {
    color: green;
}
ul.square_marker{
    list-style: square;
}

.image_marker {
    list-style-image: url("li.svg");
    padding-left: 20px;
}
ul li ul {
    list-style: none;
}
.underline a {
    text-decoration: none;
}
.number_marker{
    list-style: decimal;
}
