.body {
    text-align: center;
}
h1 {
    color: red;
}
h2 {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.line_through{
    text-decoration: line-through;
}
.text_transform {
    text-transform: uppercase;
}
.allocated {
    background: yellow;
}
#note {
    font-family: Marker Script, cursive;
}
#line {
    height: 3px;
    background: green;

}