div {
    background-color: rgb(255, 165, 0);
    width: 500px;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.level1 > li {
    background-color: rgb(103, 158, 128);
    padding: 0 20px 0 50px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.level2 > li {
    font-size: 18px;
    font-style: italic;
    background-color: rgb(153, 180, 102);
    margin-bottom: 10px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

span {
    padding: 10px 20px;
    display: inline-block;
}

.level1 > li > span {
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(199, 124, 106);
    margin-bottom: 10px;
}

.level2 > li > span {
    background-color: rgb(218, 106, 32);
}

.prep {
    background-image: url("icons/rule.png");
}

.route {
    background-image: url("icons/ad_units.png");
}

.ticket {
    background-image: url("icons/airplane_ticket.png");
}

.hotel {
    background-image: url("icons/hotel.png");
}

.car {
    background-image: url("icons/car_rental.png");
}

.bar {
    background-image: url("icons/local_bar.png");
}

.casino {
    background-image: url("icons/casino.png");
}

.museum {
    background-image: url("icons/museum.png");
}

.festival {
    background-image: url("icons/festival.png");
}
