.wrapper {
    font-family: "Segoe UI", sans-serif;
    background-color: #ffffff;
    width: 1140px;
    margin: 0 auto;
    padding: 20px;

}

.header {
    overflow: hidden;
    padding: 10px 20px;
    margin-bottom: 20px;

}


.logo {
    float: left;


}

.logo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;

}

.menu {
    float: right;
}


.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.menu li {
    margin: 0;
}

.menu li a {
    display: inline-block;
    padding: 10px 15px;
    background: rgb(255, 117, 64);
}

.card {
    width: 300px;
    height: 400px;
    float: left;
    margin: 15px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    color: #000;
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
}

.card-gradient-multicolor {
    background-image: linear-gradient(
            to bottom left, orangered, blue, yellow, green
    );
}

.card-checker-pattern {
    float: left;
    background-color: #eee;
    background-image: linear-gradient(
            45deg,
            green 25%,
            transparent 25%,
            transparent 75%,
            white 75%,
            orange 75%,
            blue 100%
    ),
    linear-gradient(45deg, yellow 25%, transparent 25%, transparent 75%, purple 75%, orange);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.card-striped-columns {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;

    background-color: white;

    background-image: linear-gradient(to right, green, white), linear-gradient(to right, blue, yellow), linear-gradient(to right, green, white), linear-gradient(to right, blue, yellow), linear-gradient(to right, green, white), linear-gradient(to right, blue, yellow);
    background-size: 50px 100%;
    background-position: 0 0, 50px 0, 100px 0, 150px 0, 200px 0, 250px 0;
    background-repeat: no-repeat;
}

.card-corner-accents {
    float: left;
    background: linear-gradient(to top left, #ff0 50%, transparent 50.1%) bottom right / 70% 70% no-repeat,
    linear-gradient(to top right, #008000 50%, transparent 50.1%) bottom left / 50% 50% no-repeat,
    radial-gradient(circle at top left, orange 0%, transparent 70%),
    radial-gradient(circle at top right, blue 0%, transparent 70%),
    radial-gradient(circle at bottom, white 0%, transparent 70%);
}


.card-rainbow-gradient {
    float: left;
    background: repeating-linear-gradient(
            190deg,
            rgba(255, 0, 0, 0.5) 40px,
            rgba(255, 153, 0, 0.5) 80px,
            rgba(255, 255, 0, 0.5) 120px,
            rgba(0, 255, 0, 0.5) 160px,
            rgba(0, 0, 255, 0.5) 200px,
            rgba(75, 0, 130, 0.5) 240px,
            rgba(238, 130, 238, 0.5) 280px,
            rgba(255, 0, 0, 0.5) 300px
    ),
    repeating-linear-gradient(
            -190deg,
            rgba(255, 0, 0, 0.5) 30px,
            rgba(255, 153, 0, 0.5) 60px,
            rgba(255, 255, 0, 0.5) 90px,
            rgba(0, 255, 0, 0.5) 120px,
            rgba(0, 0, 255, 0.5) 150px,
            rgba(75, 0, 130, 0.5) 180px,
            rgba(238, 130, 238, 0.5) 210px,
            rgba(255, 0, 0, 0.5) 230px
    ),
    repeating-linear-gradient(
            23deg,
            red 50px,
            orange 100px,
            yellow 150px,
            green 200px,
            blue 250px,
            indigo 300px,
            violet 350px,
            red 370px
    );
}

.card h3 {
    margin-top: 10px;
    font-size: 1.4rem;
}

.card p {
    font-size: 0.9rem;
    color: #222;
}
