.wrapper {
    font-family: "Segoe UI", sans-serif;
    background-color: #ffffff;
    width: 1140px;
    margin: 0 auto;
    padding: 20px;

}

.header {
    overflow: hidden;
    padding: 10px 20px;
    margin-bottom: 20px;

}


.logo {
    float: left;


}

.logo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;

}

.menu {
    float: right;
}


.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.menu li {
    margin: 0;
}

.menu li a {
    display: inline-block;
    padding: 10px 15px;
    background: rgb(255, 117, 64);
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.block {
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}


.block-rounded {
    border: 10px solid green;
    border-radius: 50px 50px 50px 50px;
}

.block-asymmetric {
    border: 10px solid green;
    border-radius: 80px 00px;
}

.block-flowing {
    border: 10px solid green;
    border-radius: 50px 150px;
}

.block-striped-border {
    border: 30px solid;
    border-color: green greenyellow green greenyellow;
    border-radius: 20px;

}

.block-diagonal {
    border: 30px solid;
    border-color: greenyellow green greenyellow green;
    border-radius: 40px 0 40px 0;
}

.block-accent-corner {
    border: 30px solid;
    border-color: greenyellow greenyellow greenyellow green;
    border-bottom-right-radius: 100%;
}


.block--ornamented-one {
    border: 30px solid;
    border-image-source: url("2.1.png");
    border-image-slice: 20;
}

.block--ornamented-two {
    border: 30px solid;
    border-image-source: url("2.2.png");
    border-image-slice: 20;
}

.block--ornamented-three {
    border: 30px solid;
    border-image-source: url("2.3.png");
    border-image-slice: 20;
}

.block--ornamented-four {
    border: 30px solid;
    border-image-source: url("2.4.png");
    border-image-slice: 30;
}

.block--ornamented-five {
    border: 30px solid;
    border-image-source: url("2.5.png");
    border-image-slice: 30;
}

.block--ornamented-six {
    border: 30px solid;
    border-image-source: url("2.6.png");
    border-image-slice: 30;
}