body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333;
}

h1, h2 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}


.intro-banner {

    background-color: #f0f4f5;
    width: 100%;


    height: 200px;
    padding: 50px 0;


    display: flex;
    align-items: center;
}

.intro-content-flex {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
}


.intro-title {
    font-size: 2.0em;
    letter-spacing: 2.5px;
    color: #555;
    margin: 0 0 20px 0;
    font-weight: 300;
}

.intro-subtitle {
    font-size: 1em;
    color: #888;
    margin: 0;
}


.cta-section {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 35px 0;

}

.cta-title {
    font-size: 1.3em;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 20px;
}


.btn-cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    border-radius: 3px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.btn-cta i {
    margin-right: 8px;
}

.btn-cta:hover {
    background-color: #c0392b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-cta:focus {
    outline: 2px solid #e74c3c;
    outline-offset: 3px;
    background-color: #c0392b;
}

.btn-cta:active {
    background-color: #96281b;
    transform: translateY(1px);
}


.main-footer {
    background-color: #29292c;
    color: #bdc3c7;
    padding: 60px 0;
    text-align: center;
    width: 100%;
}

.copyright {
    font-size: 0.8em;
    margin-bottom: 15px;
}

.theme-link {
    color: #bdc3c7;
    text-decoration: none;
    transition: color 0.2s;
}

.theme-link:hover, .theme-link:focus {
    color: #e74c3c;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    text-decoration: none;
    transition: transform 0.2s, opacity 0.2s;
}

.rss {
    background-color: #f39c12;
}

.facebook {
    background-color: #3498db;
}

.twitter {
    background-color: #5dade2;
}

.dribbble {
    background-color: #e85787;
}

.pinterest {
    background-color: #e74c3c;
}

.social-icon:hover {
    transform: scale(1.15);
    opacity: 0.9;
}

.social-icon:focus {
    outline: 2px solid white;
    outline-offset: 1px;
    transform: scale(1.15);
}

.social-icon:active {
    transform: scale(1.05);
    opacity: 0.7;
}


@media (max-width: 768px) {

    .intro-banner {
        height: auto;
        padding: 80px 0;
    }

    .intro-content-flex {
        justify-content: center;
    }

    .intro-text-wrapper {
        max-width: 90%;
        text-align: center;
    }

    .intro-title {
        font-size: 2em;
    }
}